#inicio{
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bienvenidos-container {
    font-family: 'MERRYWEATHER';
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    
}
.bienvenidos-container h1{
    text-decoration: underline;
    margin-bottom: 20px;

}
#inicio p{   
    justify-content: center;
}